extends layout

block content
  h1= title
  - let image_names = ["lab.jpg","german.jpg","poodle.jpg","rodwiller.jpg","pitbull.jpg"]
   -for(let i=0; i<3; i++){
    -let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image Name : ${image_names[random]}` height="300px" width="300px")
    -}